.Backdrop {
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 200;
   left: 0;
   top: 0;
   background-color: #ECD14C;
   color: #323435;
   text-align: center;
 }
 .logo {
   margin-top: 30%;
   height: 300px;
   width: 300px;
 }
 .tara{
   height: 100px;
   width: 100px;
   text-align: center;
 }
